<div class="content-block small-12 columns">
    <header>
        <h2>Getting started</h2>
    </header>

    <section>
        <p>
            Welcome to Centrl, we are most advanced, most reliable and most fun to use service provider for push notifications.
            From here, you can manage everything you need in regards to your push notifications. After you have read and understand the getting started blow, feel free to click the close button in the top right corner.
            You can always get back to this guide and learn even more about Centrl on our <a href="#">support</a> pages.
        </p>
    </section>
</div>
