<!-- TODO: Disable this for difference devices etc -->
<style type="text/css">
    body {
        text-align: center;
    }

    video#bgvideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
     h1 {
        margin-top: 200px;
        text-align: center;
        color: #333;
     }

     h3 {
        text-align: center;
        color: #333;
     }
</style>

<video autoplay loop id="bgvideo">
    <source src="time-lapse.mp4" type="video/mp4">
</video>

<div class="row">
    <div class="large-12 columns">
        <h1>Centrl</h1>
        <h3 class="subheader">Expensive push notifications done right for large production.</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <a href="/auth" style="margin-top: 30px;" class="button">Login with Google</a>
    </div>
</div>
