<!-- TODO: Disable this for difference devices etc -->
<video autoplay loop id="bgvideo">
    <source src="time-lapse.mp4" type="video/mp4">
</video>

<div class="row">
    <div class="large-12 columns">
        <h1 class="tk-nimbus-sans">Centrl</h1>
        <h3 class="subheader">Expensive push notifications done right for large production. {{{name}}}</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <a href="/auth" style="margin-top: 30px;" class="button">Login with Google</a>
    </div>
</div>
