$vendors: "-moz-", "-webkit-", "-o-", "-ms-", "";

$side-nav: #364151;
$side-nav-dark: #303A48;
$light-border: #EEEEEE;

$light-grey: #A1ACBE;
$lightest-grey: #F9FAFB;
$medium-grey: #A5ACB6;
$dark-grey: #61646F;
$light-blue: #2FA8F5;
$off-white: #ECF2F6;

$blue-grey: #707D94;
$light-blue-gray: #7C8BA3;
